# --- IGNORE HEAVY AI MODELS ---
*.bin
*.safetensors
*.pth
*.pt
*.h5

# Specific Model Folders
language_engine/GeoChat/geochat-7B/
language_engine/GeoChat/geochat-vit-l/

# --- PYTHON JUNK ---
__pycache__/
*.pyc
.env
.venv
venv/
*.log

# --- DOCKER & SYSTEM ---
.wslconfig
.DS_Store